{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}
{% block css %}
    <!-- DataTables CSS -->
    <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
    
    <!-- jquery UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{% endblock css %}

{% block title %}Analisa Tabel{% endblock title %}

{% block nav %}
    {% include 'snippets/nav.html' %}
{% endblock nav %}
{% block content %}
        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Tabel Data</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- /.start-row1 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               Hasil Analisis Surveilans
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#proporsi" data-toggle="tab">Proporsi</a>
                                    </li>
                                    <li><a href="#cakupan" data-toggle="tab">Cakupan</a>
                                    </li>
                                </ul>
    
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="proporsi">
                                        <h4>Proporsi</h4>
                                        <div class="form-group">
                                            <form method="POST" class="form-horizontal">
                                                {% csrf_token %}
                                                {{ form }}
                                                <br/>
                                                <button type="submit" class="btn btn-primary m-t">Tampilkan</button>
                                            </form>
                                            <br/>
                                            {% if request.POST %}
                                            <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <strong>{{ chart_title|safe }} {{ chart_sub_title|safe }}</strong>
                                                    </div>
                                                    <!-- /.panel-heading -->
                                                    <div class="panel-body">
                                                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    {% for data in tabel_data %}
                                                                    <th>{{ data.name }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for data1 in tabel_categories %}
                                                                <tr> 
                                                                    <td>{{ data1 }}</td>
                                                                    {% for data in tabel_data %}
                                                                        <td>{{ data.data | safe }} {{ data.suffix | safe }}</td>
                                                                    {% endfor %}
                                    
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <!-- /.table-responsive -->
                                                    </div>
                                                    <!-- /.panel-body -->
                                                </div>
                                            {% endif %}
                                            
                                        </div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                    <div class="tab-pane fade" id="cakupan">
                                        <h4>Cakupan</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.end-row1 -->
                

                
            <!-- /.container-fluid -->
        <!-- /#page-wrapper -->
{%  endblock content %}

{% block javascript %}
    <!-- Speak Datepicker -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $("#id_dari, #id_sd").datepicker({
            autoclose: true,
            startView: 2,
            minViewMode: 1,
            format: "yyyy-mm",
            });
        } );
    </script>
    
    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true,
            "language": {
                "lengthMenu": "Menampilkan _MENU_ entri per halaman",
                "zeroRecords": "Kosong",
                "info": "Menampilkan halaman _PAGE_ of _PAGES_",
                "infoEmpty": "Tidak ada entri tersedia",
                "infoFiltered": "(disaring dari _MAX_ total entri)",
                "sInfoPostFix":  "",
                "sSearch":       "Cari:",
                "sUrl":          "",
                "oPaginate": {
                    "sFirst":    "Pertama",
                    "sPrevious": "Sebelumnya",
                    "sNext":     "Selanjutnya",
                    "sLast":     "Terakhir"
                }
            },
        });
    });
    </script>
    
{% endblock javascript %}


{% block footer_inside %}
    {% include 'snippets/footer.html' %}
{% endblock footer_inside %}
