{% extends 'base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title %}Analisa Grafik{% endblock title %}
{% block nav %}
    {% include 'snippets/nav.html' %}
{% endblock nav %}
{% block content %}
        <!-- Page Content -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Hasil Analisis Surveilans</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- /.start-row1 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               Hasil Analisis Surveilans
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#proporsi" data-toggle="tab">Proporsi</a>
                                    </li>
                                    <!--<li><a href="#cakupan" data-toggle="tab">Cakupan</a>-->
                                    </li>
                                </ul>
    
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="proporsi">
                                        <h4>Proporsi</h4>
                                        <form method="POST" >
                                            <div class="form-group form-inline">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                            </div>
                                            <button type="submit" class="btn btn-primary m-t pull-right">Tampilkan</button>
                                        </form>
                                        <div class="col-md-12">
                                            {% if request.POST %}
                                                <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!--<div class="tab-pane fade" id="cakupan">-->
                                    <!--    <h4>Cakupan</h4>-->
                                    <!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
                <!-- /.end-row1 -->
            </div>
            <!-- /.container-fluid -->
        <!-- /#page-wrapper -->
{%  endblock content %}

{% block javascript %}
<script src="{% static 'vendor/highcharts/highcharts.js' %}"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
<script>
    $(document).ready(function(){

        $("#id_dari, #id_sd").datepicker({
            autoclose: true,
            startView: 2,
            minViewMode: 1,
            format: "yyyy-mm",
        });

        {% if request.POST %}

        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: '{{ chart_title|safe }}'
            },
            subtitle: {
                text: '{{ chart_sub_title|safe }}'
            },
            xAxis: {
                categories: {{ chart_categories|safe }},
                crosshair: true
            },
            yAxis: [{
                min: 0,
                max: 100,
                labels: {
                    format: '{value}%',
                    style: {
                        color: '#4572A7'
                    }
                },
                title: {
                    text: 'Proporsi',
                    style: {
                        color: '#4572A7'
                    }
                }
            }, {
                title: {
                    text: 'Jumlah Orang',
                    style: {
                        color: '#89A54E'
                    }
                },
                opposite: true
            }],
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f}%</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            
            exporting: {
                chartOptions: { // specific options for the exported image
                    plotOptions: {
                        series: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    }
                },
        		filename: '{{ chart_title|safe }}-{{ chart_sub_title|safe }}',
                fallbackToExportServer: false
            },
        	
        	credits: {
        		text: "Copyright © Kementerian Kesehatan Republik Indonesia",
        		href: 'http://medicalappwebproject.xyz'
        	},
            
            
            series: {{ chart_data|safe }}
        });
        {% endif %}
    });
</script>

{% endblock javascript %}

{% block footer_inside %}
    {% include 'snippets/footer.html' %}
{% endblock footer_inside %}
